.navegacion{
position: fixed;

z-index: 1;
}
.links{
	list-style: none;

}
.linksli{
	text-decoration: none;
	color: white;
}
.logosisdecar{
	background: url('../img/lOGOSISDECAR.png');
	border-radius: 15px;
}