.navegacion{
position: fixed;

z-index: 1;
}
.links{
	list-style: none;

}
.linksli{
	text-decoration: none;
	color: white;
}
.logosisdecar{
	background: url('../img/lOGOSISDECAR.png ') no-repeat center center/cover;
	border-radius: 15px;
}
.bg-yellow{
	background: yellow;
	
}
.bg-grisclaro{
	background: gainsboro;
}